* {
  margin: 0;
  font-family: helvetica;
  font-weight: lighter;
  box-sizing: border-box; }

body {
  background: url("https://i.gyazo.com/cacfcd56478c0e7c6c1ae288b7178a6a.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none;
  color: inherit; }

.close {
  float: right;
  padding: 10px;
  transition: 100ms;
  color: #b1b1b1; }
  .close:hover {
    opacity: 0.8;
    cursor: pointer; }

@-webkit-keyframes loadIn {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px;
  overflow: hidden;
  animation: loadIn 1s; }
  .container h1 {
    color: #ddd;
    letter-spacing: 3px;
    text-align: center;
    padding: 10px;
    border-bottom: solid 1px #333333;
    margin-bottom: 20px;
    text-shadow: 4px 3px 12px black; }
  .container .menu-container {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .container .menu-container .option-container {
      min-width: 33.33%;
      color: rgba(51, 51, 51, 0.8);
      font-family: roboto; }
      .container .menu-container .option-container:hover {
        color: #ddd;
        cursor: pointer; }
      .container .menu-container .option-container .logo {
        margin-bottom: 10px;
        display: block;
        clear: both; }
        .container .menu-container .option-container .logo .icon {
          text-decoration: none;
          border-bottom: none;
          position: relative;
          padding: 5px;
          padding-left: 7px;
          padding-right: 7px;
          border: solid 2px;
          border-radius: 100%;
          font-size: 1.5em;
          font-weight: lighter;
          transition: 200ms; }
          .container .menu-container .option-container .logo .icon:before {
            -webkit-font-smoothing: antialiased;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-transform: none !important; }
        .container .menu-container .option-container .logo .fa-user {
          padding-left: 9px;
          padding-right: 9px; }

.about {
  width: 100%;
  max-width: 490px;
  display: none;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  text-align: left; }
  .about h1 {
    padding: 20px;
    font-size: 45px;
    font-family: roboto;
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
    letter-spacing: 10px;
    color: rgba(221, 221, 221, 0.95);
    animation: slidein 1.5s; }
  .about p {
    padding: 15px;
    animation: fadein 2s;
    color: rgba(221, 221, 221, 0.6);
    line-height: 24px; }
  .about h3 { 
    padding: 15px;
    font-size: 20px;
    color: rgba(221, 221, 221, 0.95); 
    animation: fadein 2s; }
  .about li {
    margin-bottom: 5px;
    animation: fadein 2s; }

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    margin-top: 10px; }
  25% {
    opacity: 0; }
  100% {
    opacity: 1;
    margin-top: 0px; } }
@-webkit-keyframes fadeinTwo {
  0% {
    opacity: 0; }
  25% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes slidein {
  from {
    letter-spacing: 35px;
    opacity: 0; }
  to {
    letter-spacing: 10px;
    opacity: 1; } }
.content {
  animation: fadein 3s;
  color: rgba(221, 221, 221, 0.4); }
  .content h3 {
    color: rgba(221, 221, 221, 0.5);
    font-family: roboto;
    font-weight: bold;
    letter-spacing: 3px; }


.portfolio {
  padding: 20px;
  width: 100%;
  max-width: 700px;
  display: none;
  margin: auto;
  transform-origin: center;
  text-align: left;
  color: rgba(221, 221, 221, 0.8);
  animation: fadein 1.5s linear }
  .portfolio h1 {
    text-align: left;
    padding: 20px;
    padding-left: 0px;
    font-size: 45px;
    font-family: roboto;
    padding-top: 40px;
    font-weight: 400;
    letter-spacing: 10px;
    color: rgba(221, 221, 221, 0.95);
    animation: slidein 1.5s; }
    
    .portfolio .project {
      overflow: hidden;
      border-bottom: solid 2px rgba(172, 182, 182, 0.6);
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
    .portfolio a {
      display: inline-block;
      padding: 10px 20px 10px 20px;
      border: solid 1px rgb(172, 182, 182);
    }
    .portfolio a:hover {
      background: rgba(255,255,255,0.2);
    }
    .portfolio img {
      width: 100%;
      object-fit: cover;
      min-height: 150px;
      border: solid 1px black;
    }
    .portfolio h3 {
      padding-top: 10px;
      padding-bottom: 10px; 
    }
    .portfolio p {
      padding-bottom: 20px;
    }

.contact {
  width: 100%;
  max-width: 450px;
  height: 440px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, -50%);
  text-align: left;
  color: rgba(221, 221, 221, 0.8); }
  .contact h1 {
    padding: 20px;
    font-size: 45px;
    font-family: roboto;
    text-align: center;
    padding-top: 40px;
    font-weight: 400;
    letter-spacing: 10px;
    color: rgba(221, 221, 221, 0.95);
    animation: slidein 1.5s; }
  .contact p {
    padding: 15px;
    padding-top: 0;
    padding-left: 25px;
    animation: fadein 2s; }
  .contact span {
    font-weight: bold;
    padding: 10px; }

/*# sourceMappingURL=style.css.map */
