* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

header {
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
  padding-bottom: 15px; }
  header .title {
    width: 100%;
    max-width: 345px;
    text-align: center;
    margin: auto; }
    header .title img {
      width: 100%; }
  header .wide {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px; }
    header .wide ul {
      list-style: none;
      padding: 0;
      margin: auto;
      display: inline-block; }
      header .wide ul li {
        float: left; }
        header .wide ul li a {
          padding: 10px 20px 10px 20px;
          display: inline-block;
          font-weight: bold;
          letter-spacing: 2px;
          font-size: 12px;
          font-family: "Roboto", sans-serif;
          transition: 100ms; }
          header .wide ul li a:hover {
            color: #FAC2B2; }
        header .wide ul li hr {
          width: 30px;
          margin: 17px 20px 10px 19px;
          border: none;
          height: 2px;
          background: #FAC2B2; }
  header .narrow {
    width: 100%;
    text-align: center;
    display: none; }
    header .narrow .menu-btn-narrow {
      padding: 5px;
      margin: auto; }
      header .narrow .menu-btn-narrow .menu {
        margin-left: 10px;
        margin-right: 10px; }
      header .narrow .menu-btn-narrow:hover {
        cursor: pointer; }
      header .narrow .menu-btn-narrow:hover > .menu {
        color: #FAC2B2; }
    header .narrow i {
      padding: 5px; }
    header .narrow ul {
      width: 100%;
      overflow: hidden;
      display: none;
      list-style: none;
      padding: 0; }
      header .narrow ul li {
        padding: 10px; }
        header .narrow ul li:hover {
          color: #FAC2B2; }
    header .narrow hr {
      width: 10%;
      border: none;
      height: 2px;
      margin: auto;
      background: #FAC2B2;
      margin-top: 20px;
      margin-bottom: 10px; }
  @media screen and (max-width: 520px) {
    header .wide {
      display: none; }
    header .narrow {
      display: block; } }

.intro {
  width: 100%;
  overflow: hidden;
  margin: auto;
  text-align: center;
  padding-bottom: 40px; }
  .intro img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    box-shadow: 0px 1px 16px -5px rgba(0, 0, 0, 0.75); }
  .intro p {
    text-align: center;
    padding: 50px;
    padding-top: 25px;
    padding-bottom: 20px;
    letter-spacing: 1px; }
  .intro h1 {
    text-align: center;
    margin-top: 30px;
    font-weight: 400; }
  .intro a {
    display: inline-block;
    margin: auto;
    border: solid 1px;
    margin-bottom: 10px;
    background: #FAC2B2;
    color: white;
    padding: 15px 25px 15px 25px; }
    .intro a:hover > i {
      opacity: 1;
      margin-left: 15px; }
    .intro a i {
      margin-left: -3px;
      transition: 200ms;
      display: inline-block;
      transform-origin: center;
      transform: scale(1.5);
      opacity: 0; }

.featured {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px; }
  .featured .feature {
    width: 33.33%;
    background: rgba(0, 0, 0, 0.1);
    float: left;
    height: 220px;
    border-top: solid 2px #FAC2B2;
    border-bottom: solid 2px #FAC2B2; }
    .featured .feature h3 {
      display: inline-block;
      background: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      color: white;
      text-align: center;
      line-height: 220px;
      font-weight: 400;
      transition: 200ms; }
      .featured .feature h3:hover {
        background: rgba(0, 0, 0, 0.2); }
  .featured .one {
    background: url("http://i.imgur.com/7n56CIv.png");
    background-position: center;
    background-size: cover; }
  .featured .two {
    background: url("http://i.imgur.com/0A5rSUG.png");
    background-position: center;
    background-size: cover; }
  .featured .three {
    background: url("http://i.imgur.com/nod3xhe.png");
    background-position: center;
    background-size: cover; }
  @media screen and (max-width: 520px) {
    .featured .feature {
      width: 100%;
      float: none;
      border-top: solid 1px #FAC2B2;
      border-bottom: solid 1px #FAC2B2; } }

.reviews {
  width: 100%;
  overflow: hidden; }
  .reviews .inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    text-align: center; }
    .reviews .inner h1 {
      font-weight: bold;
      font-size: 26px;
      opacity: 0.8;
      margin-bottom: 30px;
      margin-top: 10px;
      display: inline-block; }
      .reviews .inner h1 hr {
        width: 50px;
        display: inline-block;
        margin: 20px;
        margin-bottom: 6px;
        margin-top: 0;
        border: none;
        height: 2px;
        background: #fac2b2; }
    .reviews .inner p {
      margin-bottom: 25px;
      padding-left: 100px;
      padding-right: 100px; }
    .reviews .inner .opinion {
      width: 33%;
      float: left;
      text-align: center;
      padding: 25px; }
      .reviews .inner .opinion img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
        box-shadow: 0px 3px 20px -2px rgba(0, 0, 0, 0.57); }
      .reviews .inner .opinion p {
        margin-top: 10px;
        padding: 0; }
        .reviews .inner .opinion p i {
          color: #fac2b2;
          margin-right: 5px; }
      .reviews .inner .opinion h3 {
        margin-top: 10px;
        font-weight: 400; }
    @media screen and (max-width: 500px) {
      .reviews .inner .opinion {
        width: 100%; } }
    @media screen and (max-width: 450px) {
      .reviews .inner p {
        padding-left: 20px;
        padding-right: 20px; }
      .reviews .inner h1 {
        font-size: 23px;
        padding-left: 10px;
        padding-right: 10px; }
        .reviews .inner h1 hr {
          width: 20px;
          margin: 10px;
          margin-bottom: 6px; } }

.gallery {
  width: 100%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  border-top: solid 2px #fac2b2;
  padding-top: 20px;
  padding-bottom: 20px; }
  .gallery ul {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .gallery ul li {
      width: 19.9%;
      min-width: 100px;
      background: #fac2b2;
      overflow: hidden;
      max-height: 178px; }
      .gallery ul li img {
        width: 100%;
        padding: 2px;
        background: white;
        margin-bottom: -5px; }
        .gallery ul li img:hover {
          opacity: 0.3;
          cursor: pointer; }
    @media screen and (max-width: 500px) {
      .gallery ul li {
        width: 32%; } }
    @media screen and (max-width: 320px) {
      .gallery ul li {
        width: 49%; } }

footer {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(250, 194, 178, 0.8);
  border-top: solid 2px #fac2b2; }
  footer .inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    color: white;
    overflow: hidden; }
    footer .inner p {
      padding: 20px; }
    footer .inner ul {
      padding: 0;
      list-style: none; }
      footer .inner ul li {
        float: left;
        padding: 20px;
        letter-spacing: 2px;
        font-size: 11px; }
        footer .inner ul li a:hover {
          opacity: 0.8; }
    footer .inner h3 {
      float: right;
      font-weight: 400;
      padding-right: 20px; }
    footer .inner .social {
      width: 100%;
      clear: both; }
      footer .inner .social i {
        font-size: 20px; }
  @media screen and (max-width: 500px) {
    footer p {
      text-align: center; }
    footer ul {
      width: 100%; }
      footer ul li {
        width: 100%;
        text-align: center; }
    footer h3 {
      text-align: center;
      width: 100%;
      float: none;
      padding-left: 20px;
      font-size: 30px; } }

.sched {
  width: 100%;
  max-width: 1000px;
  margin: auto; }
  .sched iframe {
    width: 100%;
    height: 300px; }

/*# sourceMappingURL=style.css.map */
